<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">A PROPOS DE L’UVS</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Présentation</a>
          </li>
          <li>
            <a href="#!">Gouvernance</a>
          </li>
          <li>
            <a href="#!">Organigramme</a>
          </li>
          <li>
            <a href="#!">Directions</a>
          </li>
           <li>
            <a href="#!">Missions, valeurs et axes stratégiques</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">LIENS UTILES</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Recrutement</a>
          </li>
          <li>
            <a href="#!">Nous joindre</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">BULLETIN D’INFORMATION</h5>
        <form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <button type="submit" class="btn btn-primary mb-2">je m'abonne</button>
</form>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2020 : <a href="https://www.uvs.sn/">Université virtuelle du Sénégal (UVS)</a> 
    
  </div>
  <!-- Copyright -->
  <!--scroll-->
  <div id="scrolltotop"><div></div></div>
</footer>
<!-- Footer -->